@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Next.js dev indicator or error overlay if requested */
#next-dev-overlay,
#nextjs-portal,
.nextjs-toast-errors-parent,
#__next-build-watcher,
[data-nextjs-toast-errors-parent] {
  display: none !important;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}